<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="text-center mt-5">
        <img src="/img/rw-img.png" alt="" class="img-fluid image">

        <div class="pt-4">
            Registered 
            <button type="button" id="absent" class="btn btn-success btn-sm m-2 pl-2"><a>Sign In</a></button>
        </div>
        <div class="pt-2">
            Not Registered 
            <button type="button" id="present" class="btn btn-info btn-sm m-1"><a>Sign Up</a></button>
        </div>
    </div>

</body>
</html>