<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rocketwares Attendance App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-custom navbar-expand-lg">
        <a class="navbar-brand" href="index.html">
            <img src="/img/RWL.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ml-auto mt-2">
            <li class="nav-item">
                <a class="nav-link" href="login.html">
                    <h2 class="ml-auto">LOGIN</h2>
                </a>
            </li>
          </ul>
        </div>
      </nav>
   <main>
        <div class="container-fluid">
          <h2 class="p-3 text-center">Create an account to get started</h2>
            <div class="row d-flex justify-content-center">
              <div class="col-md-offset-2 pr-4 mt-3">
                  <img class="img-fluid avt" src="/img/avatar.png" alt="Profile Picture">
                  
              </div>
                <div class="col-md-6 pl-4">
                    <div class="text-center">
                        <form class="mt-3" action="/users/register" method="post" enctype="multipart/form-data">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" name="firstName" placeholder="firstname">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" name="lastName" placeholder="lastname">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                <input type="email" class="form-control" name="email" placeholder="email">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="password" class="form-control" name="password" placeholder="password">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="password" class="form-control" name ="cPassword" placeholder="confirm password">
                                </div>
                            </div>
                            <div class="">
                                <div class="form-check form-check-inline">
                                  <label class="form-check-label p-2" for="staff">
                                    Staff
                                    </label>
                                  <input class="form-check-input" type="radio" name="status" id="exampleRadios1" value="staff" >
                                  
                               </div>
                               <div class="form-check form-check-inline">
                                <label class="form-check-label p-2" for="student">
                                  Student
                                  </label>
                                  <input class="form-check-input" type="radio" name="status" id="exampleRadios2" value="student">
                                  
                               </div>
                            </div>
                            <button type="submit" class="btn btn-primary mt-2">Sign up</button>
                            <div class="pt-4">
                                <p>Have an account already? <a href="login.html">login</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- <script src="main.js"></script> -->
    <script src="/jquery/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>